<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="cleartype" content="on">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57x57-precomposed.png">
  <title>Fotoradary w Toruniu</title>
  <link rel="stylesheet" href="target/app.css">
</head>
<body ng-app="app">
  <div ng-controller="AppCtrl">
    <div class="header">
      <h1>Fotoradary w Toruniu</h1>
    </div>
    <div class="radar" ng-repeat="radar in radars" ng-bind="radar.name"></div>
    <div class="map" id="map_canvas" ui-map="map" ui-options="mapOptions"></div>
    <div ng-repeat="marker in markers" ui-map-marker="markers[$index]"></div>
    <div class="footer">
      from p10 with love
    </div>
  </div>
  <script src="target/app.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</body>
</html>