body {
  margin: 0;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header {
  background: #878787;
  color: #fff;
  padding: .8em;
}
.header h1 {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.footer {
  padding: .8em;
  font-size: .8em;
  text-align: center;
}
.radar {
  background: #eaeaec;
  border-bottom: 1px solid #ababab;
  border-top: 1px solid #fff;
  padding: 1em;
}
.radar:first-child {
  border-top: none;
}
.map {
  width: 100%;
  height: 10em;
}